<div class="col-md-2 offset-md-11 mt10">
  <div data-toggle="tooltip" data-placement="top" title="Busqueda" (click)="open(newOrders)" class="btn color-4 btn-circle rounded-circle circle"><i class="fa fa-plus"></i></div>
</div>
<div class="card mt10">
  <div class="card-block">
    <div class="col-md-10 offset-md-1"></div>

    <div class="listaRSS">

      <div class="listaRSS-header">
        <div class="row">
          <div class="col-md-1">ID</div>
          <div class="col-md-2"><span>Título</span></div>
          <div class="col-md-2"><span>Tipo</span></div>
          <div class="col-md-3"><span>Descripción</span></div>
          <div class="col-md-1"><span>Estado</span></div>
        </div>
      </div>

      <div class="listaRSS-body">
        <div class="listaRSS-element">
          <div class="row">
            <div class="col-md-1 elipsis"><span>0001</span></div>
            <div class="col-md-2 elipsis">Botón publicitario</div>
            <div class="col-md-2 elipsis">Texto</div>
            <div class="col-md-3 elipsis">Texto publicitario</div>
            <div class="col-md-1"><span>AC</span></div>
            <div class="col-md-2 offset-md-1">
              <i class="fa fa-picture-o"></i>
              <i class="fa fa-link"></i>
              <i class="fa fa-pencil"></i>
              <i class="fa fa-times-circle-o"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #newOrders let-c="close" let-d="dismiss">
  <div class="modal-header color-4">
    <h4 class="modal-title">{{ 'MODALS.alert-btn.add' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Título">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="">Tipo</label>
            <select class="form-control" id="exampleSelect2">
              <option>Seleccione</option>
            </select>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleTextarea">Texto</label>
            <textarea class="form-control" id="exampleTextarea"  rows="3"></textarea>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Link o URL">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleTextarea-2">Boton</label>
            <textarea class="form-control" id="exampleTextarea-2" rows="3"></textarea>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="">Tipo</label>
            <select class="form-control" id="exampleSelect2">
              <option>Seleccione</option>
            </select>
          </div>
        </div>



      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Agregar</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>