<div class="col-md-2 offset-md-11 mt10">
  <div data-toggle="tooltip" data-placement="top" title="Busqueda" (click)="open(newOrders)" class="btn color-4 btn-circle rounded-circle circle"><i class="fa fa-plus"></i></div>
</div>
<div class="card mt10">
  <div class="card-block">
    <div class="col-md-10 offset-md-1"></div>

    <div class="listaRSS">

      <div class="listaRSS-header">
        <div class="row">
          <div class="col-md-2"><span>DNI</span></div>
          <div class="col-md-2"><span>Cliente</span></div>
          <div class="col-md-2"><span>Registrado</span></div>
          <div class="col-md-2"><span>Estatus</span></div>
          <div class="col-md-2 offset-md-1"><span>Acciones</span></div>
        </div>
      </div>

      <div class="listaRSS-body">
        <div class="listaRSS-element" *ngFor='let item of users_list'>
          <div class="row">
            <div class="col-md-2 elipsis">{{item.rut}}</div>
            <div class="col-md-2 elipsis">{{item.first_name +' '+ item.last_name}}</div>
            <div class="col-md-2 elipsis">{{item.createdAt | date:'shortDate'}}</div>
            <div class="col-md-2 elipsis">Activo</div>
            <div class="col-md-2 offset-md-1">
              <i class="fa fa-link" (click)="open(newLink)"></i>
              <i class="fa fa-eye"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Modal pedido -->

<ng-template #newOrders let-c="close" let-d="dismiss">
  <div class="modal-header color-4">
    <h4 class="modal-title">{{ 'MODALS.clients.add' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='form_add_user' novalidate>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <input formControlName='rut' name='rut' type="text" class="form-control" placeholder="DNI">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input formControlName='first_name' name='first_name' type="text" class="form-control" placeholder="Nombre">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input formControlName='last_name' name='last_name' type="text" class="form-control" placeholder="Apellido">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input formControlName='user' name='user' type="text" class="form-control" placeholder="User">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input formControlName='email' name="email" type="text" class="form-control" placeholder="Email">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input formControlName='phone' name="phone" type="text" class="form-control" placeholder="Teléfono">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input formControlName='password' name="password" type="password" class="form-control" placeholder="Password">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleSelect1">Tipo de usuario</label>
            <select class="form-control" id="exampleSelect1">
              <option value="">Seleccione una opción</option>
            </select>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]='!form_add_user.valid' type="button" class="btn btn-secondary" (click)="addUser()">Crear</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<!-- Modal link cliente -->
<ng-template #newLink let-c="close" let-d="dismiss">
  <div class="modal-header color-4">
    <h4 class="modal-title">Agregar link </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <label for="">Ingrese el link</label>
            <input type="text" class="form-control" placeholder="Link o URL">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Agregar</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>