<div class="col-md-3 offset-md-10 mt10">
  <div data-toggle="tooltip" data-placement="top" title="Busqueda" (click)="open(newOrders)" class="btn color-4 btn-circle rounded-circle circle"><i class="fa fa-search"></i></div>
  <div data-toggle="tooltip" data-placement="top" title="Nuevo catálogo" (click)="open(newOrders)" class="btn color-4 btn-circle rounded-circle circle"><i class="fa fa-plus"></i></div>
</div>
<div class="card mt10">
  <div class="card-block">
    <div class="col-md-10 offset-md-1"></div>

    <div class="listaRSS">

      <div class="listaRSS-header">
        <div class="row">
          <div class="col-md-1"><span>ID</span></div>
          <div class="col-md-3"><span>Nombre</span></div>
          <div class="col-md-2"><span>Orden</span></div>
          <div class="col-md-2"><span>Estado</span></div>
          <div class="col-md-2"><span></span></div>
        </div>
      </div>

      <div class="listaRSS-body">
        <div class="listaRSS-element">
          <div class="row">
            <div class="col-md-1 elipsis"><span>0001</span></div>
            <div class="col-md-3 elipsis">Carpetas</div>
            <div class="col-md-2">50</div>
            <div class="col-md-2"><span>Activo</span></div>
            <div class="col-md-2 offset-md-2">
              <i class="fa fa-eye"></i>
              <i class="fa fa-pencil"></i>
              <i class="fa fa-times-circle-o"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Modal pedido -->

<ng-template #newOrders let-c="close" let-d="dismiss">
  <div class="modal-header color-4">
    <h4 class="modal-title">{{ 'MODALS.category.add' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre de la categoría">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Número de orden">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <select class="form-control" id="exampleSelect2">
              <option>Seleccione</option>
            </select>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Agregar</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

