<div class="col-md-3 offset-md-10 mt10">
  <div data-toggle="tooltip" data-placement="top" title="Busqueda" (click)="open(search)" class="btn color-4 btn-circle rounded-circle circle"><i class="fa fa-search"></i></div>
  <div data-toggle="tooltip" data-placement="top" title="Nuevo catálogo" (click)="open(new)" class="btn color-4 btn-circle rounded-circle circle"><i class="fa fa-plus"></i></div>
</div>
<div class="card mt10">
  <div class="card-block">
    <div class="col-md-10 offset-md-1"></div>

    <div class="listaRSS">

      <div class="listaRSS-header">
        <div class="row">
          <div class="col-md-1"><span>Código</span></div>
          <div class="col-md-2"><span>Valor</span></div>
          <div class="col-md-2"><span>Cliente</span></div>
          <div class="col-md-2"><span>Fecha cad.</span></div>
          <div class="col-md-1"><span>Caducado</span></div>
          <div class="col-md-1"><span>Estado</span></div>
          <div class="col-md-1"><span>Plantilla</span></div>

        </div>
      </div>

      <div class="listaRSS-body">
        <div class="listaRSS-element">
          <div class="row">
            <div class="col-md-1 elipsis"><span>0001</span></div>
            <div class="col-md-2 elipsis">100000</div>
            <div class="col-md-2 elipsis">ExpoSistemas LTDA</div>
            <div class="col-md-2"><span>2013-04-24</span></div>
            <div class="col-md-1"><span>Disponible</span></div>
            <div class="col-md-1"><span>activo</span></div>
            <div class="col-md-1 elipsis"><span>ExpoSistemas</span></div>
            <div class="col-md-2">
              <i class="fa fa-eye"></i>
              <i class="fa fa-pencil"></i>
              <i class="fa fa-times-circle-o"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal pedido -->

<ng-template #new let-c="close" let-d="dismiss">
  <div class="modal-header color-4">
    <h4 class="modal-title">{{ 'MODALS.codes.add' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Código">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleSelect1">Tipo plantilla</label>
            <select class="form-control" id="exampleSelect1">
              <option>Seleccione</option>
            </select>
          </div>
        </div>

        <div class="col-md-12">
          <label for="">Tipo de descuento</label>
          <div class="col-md-5">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                <i class="fa fa-percent"></i>
              </label>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                <i class="fa fa-usd"></i>
              </label>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Valor">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Fecha">
          </div>
        </div>

        <div class="col-md-12">
          <div class="col-md-5">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Activo
              </label>
            </div>
          </div>
        
          <div class="col-md-5">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Caducado
              </label>
            </div>
          </div>

          <div class="col-md-5">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Enviar
              </label>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleSelect1">Plantilla</label>
            <select class="form-control" id="exampleSelect1">
              <option>Seleccione</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleSelect1">Tipo Plantilla</label>
            <select class="form-control" id="exampleSelect1">
              <option>Seleccione</option>
            </select>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Crear</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>



<!-- Modal pedido -->

<ng-template #search let-c="close" let-d="dismiss">
  <div class="modal-header color-4">
    <h4 class="modal-title">{{ 'MODALS.codes.search' | translate }} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Código">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleSelect1">Tipo plantilla</label>
            <select class="form-control" id="exampleSelect1">
              <option>Seleccione</option>
            </select>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Buscar</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

