
<div class="col-md-2 offset-md-11 mt10">
  <div data-toggle="tooltip" data-placement="top" title="Busqueda" (click)="open(newOrders)" class="btn color-4 btn-circle rounded-circle circle"><i class="fa fa-search"></i></div>
</div>
<div class="card mt10">
  <div class="card-block">
    <div class="col-md-10 offset-md-1"></div>

    <div class="listaRSS">

      <div class="listaRSS-header">
        <div class="row">
          <div class="col-md-1">ID</div>
          <div class="col-md-2"><span>Fecha</span></div>
          <div class="col-md-2"><span>Cliente</span></div>
          <div class="col-md-2"><span>Estado</span></div>
          <div class="col-md-1"><span>Cotización</span></div>
        </div>
      </div>

      <div class="listaRSS-body">
        <div class="listaRSS-element">
          <div class="row">
            <div class="col-md-1 elipsis"><span>0001</span></div>
            <div class="col-md-2 elipsis">22/07/2017</div>
            <div class="col-md-2 elipsis">Pedro Pérez</div>
            <div class="col-md-2 elipsis">Pendiente</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Modal pedido -->

<ng-template #newOrders let-c="close" let-d="dismiss">
  <div class="modal-header color-4">
    <h4 class="modal-title">{{ 'MODALS.orders.search' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <label for="">Id factura</label>
            <input type="text" class="form-control" placeholder="Código de la factura">
          </div>
        </div>

        <div class="col-md-12 centrado">
          <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"></my-date-range-picker>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Buscar</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>