.circle{
    height: 50px;
    width: 50px;
    i{
        margin-top: 9px;
    }
}

.btn-circle{
    -webkit-box-shadow: inset 0 0 10px 0 gray;
    //-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
    //-moz-box-shadow: inset inset 0 0 5px 0 gray;
    box-shadow: inset 0px 0px 15px 0px gray;
}

/*Definiendo tamaño del card */
.card-block{
    height: 460px;
    max-height: 460px;
}

.centrado{
    text-align: center;
}