<nav class="navbar fixed-top color-2">
    
        <ul class="nav justify-content-end">
          <li class="pointer text-color1 nav-item">
            <a class="nav-link text-color1" [routerLink]="['/']">
              <span>
                  <i class="fa fa-power-off"></i> Login
              </span>
            </a>
          </li>
        </ul>
        
    </nav>
    <div class="container-fluid">
        <div class="row">
          <div class="caja">
            <img class="img" src="assets/img/reset-min.jpg" alt="">
          </div>
    
          <div class="col-md-4 col-sm-8 offset-md-4 offset-sm-2">
              <div class="card">
                <div class="card-header center">
                  <span>Por favor introduzca su nueva contraseña</span>
                </div>
                <div class="card-block center">
                  <div *ngIf="is_change != true" >
                    <span class="mt10">
                        <i class="fa fa-unlock"></i>
                    </span>
                  
                    <form [formGroup]="form_change_pass" novalidate>
                    
                      <div class="row email">
                          <div class="col-md-10 offset-md-1 mt20">
                            <div class="form-group">
                                <input formControlName="password" name="password" type="password" class="form-control" placeholder="Nueva password">
                            </div>
                          </div>
                        
                          <div class="col-md-10 offset-md-1">
                              <button (click)='changePass()' [disabled]='!form_change_pass.valid' type="button"  class="btn btn-success col-md-12">Enviar</button>
                          </div>
                      </div>
                    
                    </form>
                  </div>
                  <div *ngIf="is_change != false">
                    <img src="assets/img/SUCCESS_CYAN.png" alt="">
                    <h3 class="mt20">Clave cambiada correctamente, por favor inicie sesión</h3>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    