.lateral-menu{
    z-index: 20!important;
    width: 35%!important;
    max-width: 35%!important;
    flex: 0 0 35%!important;
    -webkit-box-shadow: 3px 3px 8px 4px rgba(59, 59, 59, 0.17);
    box-shadow: 3px 3px 8px 4px rgba(59, 59, 59, 0.17);
    padding-top: 7vh;
    height: 100vh!important;

}

.lateral-menu-header{
    background-color: white;
    padding-top: 10px;
}
.lateral-menu-body{
    padding-top: 30px;
}

.resto-pantalla{
    width: 65%!important;
    max-width: 65%!important;
    flex: 0 0 65%!important;

    height: 100vh!important;
    padding: 0px!important;
    background-color: gainsboro;
}

.card-block{
    height: 99.7vh;
    background-color:  #292929;//#1bb193
}
.login{
    /*background: url('assets/img/login1-min.jpg');*/
    background-position: center center;
    background-size: cover;
    height: 99.7vh;
    width: 100%;
    position: absolute;
}
.leyen{
    position: relative;
}

.login-spinner{
    display: flex;
    align-content: center;
    align-items: center;
    height: 120px;
    margin: auto;
  }