  
  <div class="card mt10 mb10">
    <div class="card-block">
      <form [formGroup]="form_profile" autocomplete="off" novalidate>
        <div class="row">
            <div class="col-md-3 offset-md-1">
              <div class="color-1 rounded" style="height:150px; width:150px; margin-left:30px;"></div>
            </div>

            <div class="col-md-7">
                <div class="form-group">
                  <input  formControlName='rut' name='rut' type="text" class="form-control" placeholder="{{ 'PROFILE.dni' | translate }}">
                </div>
              
                <div class="form-group">
                  <input  formControlName='first_name'  name='firts_name' type="text" class="form-control" placeholder="{{ 'PROFILE.first_name' | translate }}">
                </div>

                <div class="form-group">
                    <input  formControlName='last_name'  name='last_name' type="text" class="form-control" placeholder="{{ 'PROFILE.last_name' | translate }}">
                </div>
              
                <div class="form-group">
                  <input  formControlName='email'  name='email' type="email" class="form-control" placeholder="{{ 'PROFILE.email' | translate }}">
                </div>
              
            </div>

            <!-- sección para los número telefónicos -->

            <div class="col-md-12">
              <hr class="color-1">
            </div>

            <div class="col-md-3 offset-md-1 mt20 phone">
              <span class="center">
                <i class="fa fa-phone"></i>
              </span>
            </div>

            <div class="col-md-7 mt20">
                <div class="row">
                  <div class="form-group col-md-12">
                    <input formControlName='phone' name='phone' type="text" class="form-control" placeholder="{{ 'PROFILE.phone' | translate }}">
                  </div>
                </div>
            </div>

            <!-- sección para username -->

            <div class="col-md-12">
                <hr class="color-1">
            </div>
            
            <div class="col-md-3 offset-md-1 mt20 phone">
              <span class="center">
                  <i class="fa fa-user"></i>
              </span>
            </div>
            
            <div class="col-md-7 mt20">
                <div class="row">
                  <div class="form-group col-md-12">
                    <input  formControlName='username' name='username' type="text" value=" " class="form-control" placeholder="{{ 'PROFILE.user_name' | translate }}">
                  </div>
                </div>
            </div>

            <!-- sección para tipo de usuario 

            <div class="col-md-12">
                <hr class="color-1">
            </div>

            <div class="col-md-3 offset-md-1 mt20 phone">
              <span class="center">
                  <i class="fa fa-users"></i>
              </span>
            </div>

            <div class="col-md-7 mt20">
                <div class="row">
                  <div class="form-group col-md-12">
                      <select class="form-control" id="exampleSelect1">
                        <option value="">Tipo de usuario</option>
                      </select>
                  </div>
                </div>
            </div> -->

            <!-- sección para password -->

            <div class="col-md-12">
                <hr class="color-1">
            </div>

            <div class="col-md-3 offset-md-1 mt20 phone">
              <span class="center">
                  <i class="fa fa-lock"></i>
              </span>
            </div>

            <div class="col-md-7 mt20">
                <div class="row">
                  <div class="form-group col-md-12">
                    <input autocomplete="off" formControlName='password' name='password' type="text" class="form-control" placeholder="{{ 'PROFILE.new_password' | translate }}">
                  </div>
                </div>
            </div>

            <!-- footer formulario -->
            <div class="col-md-12">
              <hr class="color-1">
            </div>
            
            <div class="col-md-12 mt20 right">
              <button (click)='putUser();' type="button" class="btn btn-secondary">{{ 'BUTTON.save' | translate }}</button>
            </div>

        </div>
      </form>
    </div>
  </div>