/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* cambiar color spinner progress */
.mat-progress-circle path,.mat-progress-spinner path,.mat-spinner path{stroke:#30a08b}

.center{
    text-align: center;
}
.right{
    text-align: right;
}
/*pointer*/
.pointer{
    cursor: pointer;
}
/* text colors */
.text-color1{
    color: #253136;
}
.texr-color2{
    color: white;
}
/*Colors */
.color-1{
    background-color: #253136;
}
.color-2{
    background-color: #30a08b;/* #684baa*/
}
.color-3{
    background-color: #3D494F;
}
.color-4{
    background-color: #00bd6e;
}
.color-5{
    background-color: #1ab99a;
}
/*Margins*/
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px!important;
}
.mt20{
    margin-top: 20px!important;
}
.mt25{
    margin-top: 25px!important;
}
.mt30{
    margin-top: 30px!important;
}
.mt40{
    margin-top: 40px!important;
}

.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
/* paddings */
.pt5{
    padding-top: 5px;
}
.pl20{
    padding-left: 20px;
}
/*Tamaño fuentes*/
.s10{
    font-size: 10px!important;
}
.s15{
    font-size: 15px!important;
}
.s16{
    font-size: 16px!important;
}
.s17{
    font-size: 17px!important;
}
.s20{
    font-size: 20px!important;
}
.s30{
    font-size: 30px!important;
}
/*Estilo scroll */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color:#e2e2e2;
  color: white!important;
}

::-webkit-scrollbar-track {
  background-color: white;
  color: white!important;
}

/*Estilo para las tablas */
// .listaRSS{
//         /*border: 1px solid #e8e8e8;*/
// }
.listaRSS-header{
    border-bottom: 2px solid #1ab99a;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;

}
.listaRSS-body{
    height: 61vh;
    overflow-y: scroll;
}

.listaRSS-element i{
    font-size: 17px!important;
    padding-left: 5px;
    padding-right: 5px;
}

.listaRSS-element{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    border-bottom:1px solid #e8e8e8;
    overflow-x: hidden;
}
.elipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*Botones circulares*/
.circle{
    height: 50px;
    width: 50px;
    i{
        margin-top: 9px;
    }
}

.btn-circle{
    -webkit-box-shadow: inset 0 0 10px 0 gray;
    //-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
    //-moz-box-shadow: inset inset 0 0 5px 0 gray;
    box-shadow: inset 0px 0px 15px 0px gray;
}