hr{
    height: o.5px!important;
    margin-bottom: 1px;
}

.right{
    text-align: right;
}

.phone{

    span{
        display: block;
        i{
            font-size: 4em;
        }
    }
}

.list{
    height: 100px;
    max-height: 100px;
    min-height: 100px;

}

.card-block{
    height: 460px;
    max-height: 460px;
}