 <div class="card mt10 mb10">
   <div class="card-block">
     <form [formGroup]='formCompany' novalidate>
        <div class="row">
          <div class="col-md-3 offset-md-1">
            <div class="color-1 rounded" style="height:150px; width:150px; margin-left:30px;"></div>
          </div>

          <div class="col-md-7">
            <div class="form-group">
              <input [(ngModel)]='_company.name' formControlName='name' name='name' type="email" class="form-control" placeholder="{{ 'CONFI.form.business_name' | translate }}">
            </div>

            <div class="form-group">
              <input [(ngModel)]='_company.rut' formControlName='rut' name='rut' type="text" class="form-control" placeholder="{{ 'CONFI.form.id' | translate }}">
            </div>

            <div class="form-group">
              <input [(ngModel)]='_company.email' formControlName='email' name='email' type="email" class="form-control" placeholder="{{ 'PROFILE.email' | translate }}">
            </div>

            <div class="form-group">
              <input [(ngModel)]='_company.agent' formControlName='agent' name='agent' type="text" class="form-control" placeholder="{{ 'CONFI.form.representative' | translate }}">
            </div>

          </div>
          <!-- sección para los número telefónicos -->

          <div class="col-md-12">
            <hr class="color-1">
          </div>
          
          <div class="col-md-3 offset-md-1 mt20 phone">
            <span class="center">
              <i class="fa fa-phone"></i>
            </span>
            <span class="center">
              {{ 'CONFI.company.option1' | translate }}
            </span>
          </div>

          <div class="col-md-7 mt20">
            <div class="row">
              <div class="form-group col-md-9">
                <input type="email" class="form-control" #a placeholder="{{ 'PROFILE.phone' | translate }}">
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-secondary col-md-12" (click)="addPhone(a.value)">{{ 'BUTTON.add' | translate }}</button>
              </div>
              <!-- Listado de telefonos -->
              <div class="col-md-12 pt5">
                <div class="row list" *ngFor="let item of phoneList; let i = index">
                  <div class="col-md-5 offset-md-1">{{item}}</div>
                  <div class="col-md-2">
                    <i class="fa fa-times" (click)="delPhone(i)"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- sección para las redes sociales -->

          <div class="col-md-12">
            <hr class="color-1">
          </div>

          <div class="col-md-3 offset-md-1 mt20 phone">
            <span class="center">
              <i class="fa fa-share-alt"></i>
            </span>
            <span class="center">
              {{ 'CONFI.company.option2' | translate }}
            </span>
          </div>

          <div class="col-md-7 mt20">
            <div class="row">
              <div class="form-group col-md-9">
                <input type="email" class="form-control" #b placeholder="{{ 'CONFI.form.social_network' | translate }}">
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-secondary col-md-12" (click)="addNetwork(b.value)">{{ 'BUTTON.add' | translate }}</button>
              </div>

              <!-- Listado de redes sociales -->
              <div class="col-md-12 pt5">
                <div class="row list" *ngFor="let item of networkList; let i = index">
                  <div class="col-md-5 offset-md-1">{{item}}</div>
                  <div class="col-md-2">
                    <i class="fa fa-times" (click)="delNetwork(i)"></i>
                  </div>
                </div>
              </div>
            
            </div>
          </div>

          <!-- Dirección de la empresa -->
          <div class="col-md-12">
            <hr class="color-1">
          </div>

          <div class="col-md-3 offset-md-1 mt20 phone">
            <span class="center">
              <i class="fa fa-map-marker"></i>
            </span>
            <span class="center">
              {{ 'CONFI.company.option3' | translate }}
            </span>
          </div>

          <div class="col-md-7 mt20">
            <div class="row">
              <div class="form-group col-md-12">
                <textarea [(ngModel)]='_company.address' formControlName='address' name='address' class="form-control" id="exampleTextarea" rows="5"></textarea>
              </div>
            </div>
          </div>

          <!-- footer formulario -->
          <div class="col-md-12">
            <hr class="color-1">
          </div>

          <div class="col-md-12 mt20 right">
            <button (click)='saveCompany()' type="button" class="btn btn-secondary">{{ 'BUTTON.save' | translate }}</button>
          </div>

        </div>
     </form>
   </div>
 </div>
