<div class="container-fluid">
    <div class="row">
  
      <div class="lateral-menu color-1">
  
        <div class="lateral-menu-users">
          <div class="row">
            <div class="col-md-3">
              <div class="img rounded-circle">
                <span class="s30 mt10" style="margin-top:50px;">A</span>
              </div>
            </div>
            <div class="col-md-8" style="color:white; margin-top:15px;">
              <div class="col-md-12">
                  <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="s16" style="color:white;">Anaya Absner</span>
                    <i class="fa fa-caret-down" style="color:white;"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item pointer" [routerLink]="['/cpanel/profile']">Perfil </a>
                  </div>
              </div>
              <div class="col-md-12">
                <span class="s15" style="margin-left:19px;">Online</span>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="lateral-menu-body">
          <ul class="main-navigation-menu">
            <li [routerLinkActive]="['active']" >
              <a [routerLink]="['/cpanel/dashboard']">
                <div class="row">
                  <div class="col-md-2"><i class="fa fa-tachometer"></i></div>
                  <div class="col-md-10"><span>{{ 'MENU.option1.title' | translate }}</span></div>
                </div>
              </a>            
            </li>
            <li [routerLinkActive]="['active']" >
              <a [routerLink]="['/cpanel/clients']">
                <div class="row">
                  <div class="col-md-2"><i class="fa fa-users"></i></div>
                  <div class="col-md-10"><span>{{ 'MENU.option2.title' | translate }} </span></div>
                </div>
              </a>
            </li>
            <li [routerLinkActive]="['active']" [class.open]="isOpen('panel-control')">
              <a (click)="openMenuGroup('panel-control')" >
                <div class="row">
                  <div class="col-md-2"><i class="fa fa-shopping-cart"></i></div>
                  <div class="col-md-10"><span>{{ 'MENU.option3.title' | translate }}</span></div>
                </div>
              </a>
  
              <ul class="sub-menu">
                <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                  <a [routerLink]="['/cpanel/orders']">
                    <div class="row">
                      <div class="col-md-2"><i class="fa fa-list-alt"></i></div>
                      <div class="col-md-10"><span>{{ 'MENU.option3.subMenu1' | translate }}</span></div>
                    </div>
                  </a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                  <a [routerLink]="['/cpanel/bills']">
                    <div class="row">
                      <div class="col-md-2"><i class="fa fa-file-text"></i></div>
                      <div class="col-md-10"><span>{{ 'MENU.option3.subMenu2' | translate }}</span></div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li [routerLinkActive]="['active']" [class.open]="isOpen('panel-control-2')">
              <a (click)="openMenuGroup('panel-control-2')" >
                <div class="row">
                  <div class="col-md-2"><i class="fa fa-archive"></i></div>
                  <div class="col-md-10"><span>{{ 'MENU.option4.title' | translate }}</span></div>
                </div>
              </a>
              <ul class="sub-menu">
                <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                  <a [routerLink]="['/cpanel/products']">
                    <div class="row">
                      <div class="col-md-2"><i class="fa fa-list-alt"></i></div>
                      <div class="col-md-10"><span>{{ 'MENU.option4.subMenu1' | translate }}</span></div>
                    </div>
                  </a>
                </li>
                <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                  <a [routerLink]="['/cpanel/catalogs']">
                    <div class="row">
                      <div class="col-md-2"><i class="fa fa-book"></i></div>
                      <div class="col-md-10"><span>{{ 'MENU.option4.subMenu2' | translate }}</span></div>
                    </div>
                  </a>
                </li>
                <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                  <a [routerLink]="['/cpanel/category']">
                    <div class="row">
                      <div class="col-md-2"><i class="fa fa-tags"></i></div>
                      <div class="col-md-10"><span>{{ 'MENU.option4.subMenu3' | translate }}</span></div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li [routerLinkActive]="['active']" [class.open]="isOpen('panel-control-3')">
              <a (click)="openMenuGroup('panel-control-3')" >
                <div class="row">
                  <div class="col-md-2"><i class="fa fa-bell"></i></div>
                  <div class="col-md-10"><span>{{ 'MENU.option5.title' | translate }}</span></div>
                </div>
              </a>
              <ul class="sub-menu">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                  <a [routerLink]="['/cpanel/alerts']">
                    <div class="row">
                      <div class="col-md-2"><i class="fa fa-list-alt"></i></div>
                      <div class="col-md-10"><span>{{ 'MENU.option5.subMenu1' | translate }}</span></div>
                    </div>
                  </a>
                </li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                  <a [routerLink]="['/cpanel/saleButton']">
                    <div class="row">
                      <div class="col-md-2"><i class="fa fa-shopping-bag"></i></div>
                      <div class="col-md-10"><span>{{ 'MENU.option5.subMenu2' | translate }}</span></div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li [routerLinkActive]="['active']" >
              <a [routerLink]="['/cpanel/promotionalCodes']">
                <div class="row">
                  <div class="col-md-2"><i class="fa fa-barcode"></i></div>
                  <div class="col-md-10"><span>{{ 'MENU.option6.title' | translate }}</span></div>
                </div>
              </a>
            </li>
            <li [routerLinkActive]="['active']" >
              <a [routerLink]="['/cpanel/pointSystem']">
                <div class="row">
                  <div class="col-md-2"><i class="fa fa-list-ol"></i></div>
                  <div class="col-md-10"><span>{{ 'MENU.option7.title' | translate }}</span></div>
                </div>
              </a>
            </li>
            <hr>
            <li [routerLinkActive]="['active']">
              <a [routerLink]="['/cpanel/config']">
                <div class="row">
                  <div class="col-md-2"><i class="fa fa-cog"></i></div>
                  <div class="col-md-10">{{ 'CONFI.title' | translate }}</div>
                </div>
              </a>
            </li>
  
          </ul>
        </div>
      </div>
      <div class="resto-pantalla">
        <nav class="navbar nav-header color-2">
  
          <ul class="nav justify-content-end">
            <li class="nav-item dropdown text-color1">
                <a class="nav-link dropdown-toggle text-color1" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-globe text-color1"></i> 
                  <span class="text-color1">{{langSelect}}</span>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item pointer" (click)="changeLang('en'); langSelect = 'en'">{{ 'LANG.option1.title' | translate }} </a>
                  <a class="dropdown-item pointer" (click)="changeLang('es'); langSelect = 'es'">{{ 'LANG.option2.title' | translate }} </a>
                  <a class="dropdown-item pointer" (click)="changeLang('de'); langSelect = 'de'">{{ 'LANG.option3.title' | translate }} </a>
                  <a class="dropdown-item pointer" (click)="changeLang('fr'); langSelect = 'fr'">{{ 'LANG.option4.title' | translate }} </a>
                  <a class="dropdown-item pointer" (click)="changeLang('pl'); langSelect = 'pl'">{{ 'LANG.option5.title' | translate }} </a>
                </div>
            </li>
            <li class="pointer text-color1 nav-item">
              <a class="nav-link" (click)='logout()'>
                <i class="fa fa-power-off"></i> {{ 'SESSION.logout' | translate }}
              </a>
            </li>
          </ul>
  
        </nav>
        <div class="md-card">
          <router-outlet></router-outlet>
        </div>
        <nav class="navbar nav-footer color-3" style="color:whitesmoke">
          <span>{{ 'FOOTER.duty' | translate }}</span>
        </nav>
      </div>
    </div>
  </div>