<div class="col-md-3 offset-md-10 mt10">
  <div data-toggle="tooltip" data-placement="top" title="Busqueda" (click)="open(search)" class="btn color-4 btn-circle rounded-circle circle"><i class="fa fa-search"></i></div>
  <div data-toggle="tooltip" data-placement="top" title="Nuevo catálogo" (click)="open(new)" class="btn color-4 btn-circle rounded-circle circle"><i class="fa fa-plus"></i></div>
</div>
<div class="card mt10">
  <div class="card-block">
    <div class="col-md-10 offset-md-1"></div>

    <div class="listaRSS">

      <div class="listaRSS-header">
        <div class="row">
          <div class="col-md-1"><span>ID</span></div>
          <div class="col-md-1"><span>Puntos</span></div>
          <div class="col-md-4"><span>Descripción</span></div>
          <div class="col-md-2"><span>Activo</span></div>
          <div class="col-md-2"><span>Fecha creacion</span></div>
        </div>
      </div>

      <div class="listaRSS-body">
        <div class="listaRSS-element">
          <div class="row">
            <div class="col-md-1 elipsis"><span>5</span></div>
            <div class="col-md-1 elipsis">500</div>
            <div class="col-md-4 elipsis">Recibe 15000 pesos, canjeables para tu proxima compra</div>
            <div class="col-md-2"><span>activo</span></div>
            <div class="col-md-2"><span>2016-05-12</span></div>
            <div class="col-md-2">
              <i class="fa fa-eye"></i>
              <i class="fa fa-pencil"></i>
              <i class="fa fa-times-circle-o"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Modal pedido -->

<ng-template #new let-c="close" let-d="dismiss">
  <div class="modal-header color-4">
    <h4 class="modal-title">{{ 'MODALS.points.add' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Puntos">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleTextarea">Descripción</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Link o URL">
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Crear</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<!-- search -->
<ng-template #search let-c="close" let-d="dismiss">
  <div class="modal-header color-4">
    <h4 class="modal-title">{{ 'MODALS.points.search' | translate }} </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group">
            <label for="">Puntos</label>
            <input type="text" class="form-control" placeholder="Código de la factura">
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Buscar</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>