nav{
    height: 60px;
    position: absolute;
    background-color: rgba(48, 160, 139, 0.69);;
}

.container-fluid{
    padding: 0px !important;
    margin: 0px !important;
    .row{
        margin: 0px !important;
    }
}
.caja{
    position: absolute;
    left: 0;
	top: 0;
	width:100%;
    .img{

        background-position: center center;
        background-size: cover;
        height: 99vh;
        width: 100%;
        filter: blur(10px);
    }
}

.card{
    margin-top: 150px;
    min-height: 300px;
}
.card-block{
    span{
        i{
            font-size: 2.5em;
        }
    }
}

.email{
    position: relative;
}

.no-scroll{
    overflow-x: hidden;
}

li{
    a:hover{
        color: #253136;
    }
}